<div class="panel panel-default">
    <div class="panel-body">
	    <a href="http://sparsham.github.com" target="mvppage">
		    <img src="/images/sparshamlogo.jpg" alt="Sparsham Charitable Society" style="width:25%; height:25%;" />
	    </a>
        <blockquote>
        <p>Be the change you want to see the world.</p>
        <footer><cite title="Source Title">M K Gandhi</cite></footer>
        </blockquote>    
        <blockquote>
        <p>Education is the most powerful weapon which you can use to change the world.</p>
        <footer><cite title="Source Title">Nelson Mandela</cite></footer>
        </blockquote>                  
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Translate
    </div>
    <div class="panel-body">
    	<div id="google_translate_element"></div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Subscribe
    </div>
    <div class="panel-body">
        <form action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=sparshamorg', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
        <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" id="email" placeholder="Enter your email address"/>
        </div>
        <input type="submit" class="btn btn-default" value="Subscribe" />
	<input type="hidden" value="sparshamorg" name="uri"/><input type="hidden" name="loc" value="en_US"/>
	</form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body text-center">
        <ins class="adsbygoogle"
            style="display:inline-block;width:300px;height:600px"
            data-ad-client="ca-pub-2446392180502199"
            data-ad-slot="3007017249"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>

<div class="panel panel-default" style="display:none;">
    <div class="panel-body text-center">
	    <style>.bmc-button img{vertical-align: middle !important;}.bmc-button{text-decoration: none; !important;display:inline-block !important;padding:5px 10px !important;color:#FFFFFF !important;background-color:#000000 !important;border-radius: 3px !important;border: 1px solid transparent !important;font-size: 26px !important;box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;-webkit-transition: 0.3s all linear !important;transition: 0.3s all linear !important;margin: 0 auto !important;font-family:"Cookie", cursive !important;}.bmc-button:hover, .bmc-button:active, .bmc-button:focus {-webkit-box-shadow: 0 4px 16px 0 rgba(190, 190, 190,.45) !important;box-shadow: 0 4px 16px 0 rgba(190, 190, 190,.45) !important;opacity: 0.85 !important;color:#FFFFFF !important;}</style>
        <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
          
    </div>
</div>
