---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ site.url }}{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ site.url }}{{ site.baseurl }}/css/site.css" rel="stylesheet">
  <link rel="icon" href="{{ site.url }}{{ site.baseurl }}/favicon.ico" />
  <link href='{{ site.url }}{{ site.baseurl }}/feed.xml' rel='alternate' type='application/atom+xml'>
  {% seo %}
  <style>
  .footer { padding-right: 15px; padding-left: 15px; } .footer .text-muted { margin: 20px 0; } .footer .text-muted button {margin-top: -7px; }
  #overlay { background: #ffffff; color: #666666; position: fixed; height: 100%; width: 100%; z-index: 5000; top: 0; left: 0; float: left; text-align: center; padding-top: 25%; }
  </style>
  <script type="text/javascript">
    //navigator.serviceWorker.getRegistrations().then(function (registrations) {
    //    if (!registrations.length) {
    //      console.log('No serviceWorker registrations found.')
    //      return
    //    }
    //    for (let registration of registrations) {
    //      registration.unregister().then(function (boolean) {
    //        console.log(
    //          (boolean ? 'Successfully unregistered' : 'Failed to unregister'), 'ServiceWorkerRegistration\n' +
    //          (registration.installing ? '  .installing.scriptURL = ' + registration.installing.scriptURL + '\n' : '') +
    //          (registration.waiting ? '  .waiting.scriptURL = ' + registration.waiting.scriptURL + '\n' : '') +
    //          (registration.active ? '  .active.scriptURL = ' + registration.active.scriptURL + '\n' : '') +
    //          '  .scope: ' + registration.scope + '\n'
    //        )
    //    }) 
    //        }
    //  })
  </script>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://sparsham.github.io">{{ site.name }} Charitable Society</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
        <!--
          <li><a href="https://sparsham.github.io">Home</a></li>
        -->
          {% for page in site.pages %} {% if page.title %}
          <li><a href="{{ page.url }}">{{ page.title }}</a></li>
          {% endif %} {% endfor %}
          <li><a href="https://feeds.feedburner.com/sparshamorg">RSS</a></li>
        </ul>
	<div itemscope itemtype="https://schema.org/WebSite">
	<meta itemprop="url" content="https://sparsham.github.io"/>
        <form itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction" class="navbar-form navbar-right" method="GET" action="/search">
	<meta itemprop="target" content="https://sparsham.github.io/search/?query={query}"/>
	<div class="form-group has-feedback">
	<input type="text" itemprop="query-input" class="form-control" name="query" id="query" placeholder="Search..." />
	<!--
	<span class="glyphicon glyphicon-search form-control-feedback"></span>
	-->
	</div>
	</form>
	</div>
      </div>
	
      <!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        {{ content }}
      </div>
      <div class="col-sm-4">
        {% include sidebar.html %}
      </div>
    </div>
    <hr />
    <div class="text-center">
	 <ul id="display-inline-block" style="text-align:center;">
        {% if site.twitter_username %}
            <li><a rel="noopener" title="Follow me on Twitter" target="_blank" href="http://www.twitter.com/{{ site.twitter_username }}"><div class="socialtwit"></div></a></li>
        {% endif %}
        {% if site.facebook_username %}
            <li><a rel="noopener" target="_blank" title="Follow us on Facebook" href="https://www.facebook.com/{{ site.facebook_username }}"><div class="socialfb"></div></a></li>
        {% endif %}
        {% if site.github_username %}
            <li><a rel="noopener" target="_blank" title="Follow us on GitHub" href="http://www.github.com/{{ site.github_username }}"><div class="github"></div></a></li>
        {% endif %}
        {% if site.googleplus_username %}
            <li><a rel="noopener" target="_blank" title="Add me on Google Plus" href="https://plus.google.com/u/0/{{ site.googleplus_username }}"><div class="googleplus"></div></a></li>
        {% endif %}
        {% if site.showFeed %}
            <li><a rel="noopener" target="_blank" title="Subscribe feed" href="http://feeds.feedburner.com/sparshamorg"><div class="rss"></div></a></li>
        {% endif %}
    </ul><br/>
     Copyright &copy; {{ site.time | date: '%Y' }} - {{ site.author_name }}. Blog content licensed under the Creative Commons <a href="https://creativecommons.org/licenses/by/2.5/" rel="noopener" target="_blank">CC BY 2.5</a> | Unless otherwise stated or granted, code samples licensed under the <a href="https://mit-license.org/" rel="noopener" target="_blank">MIT license</a>. Hosted with ? by GitHub
  </div>
<hr />
  </div>
  <nav style="display:none;" class="navbar navbar-inverse navbar-fixed-bottom" id="ConsentPrompt">
    <div class="container-fluid">
      <div class="container footer">
        <p class="text-muted">
          This site uses cookies for analytics and some Google Adwords ads. Thanks for supporting the site. If you want to learn more about cookies, look here:  <a href="https://cookiesandyou.com/" target="_blank">Learn more</a>
          <button id="ConsentAccept" class="btn btn-primary pull-right">
            I get It
          </button>
        </p>
      </div>
    </div>
  </nav>
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Image preview</h4>
      </div>
      <div class="modal-body">
		<div>
        <img src="{{ site.url }}{{ site.baseurl }}/favicon.ico" alt="Image Preview" id="imagepreview">
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <script src="{{ site.url }}{{ site.baseurl }}/js/jquery.min.js"></script>
  <script async src="{{ site.url }}{{ site.baseurl }}/js/pace.min.js"></script>
  <script async src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
  <script async src="{{ site.url }}{{ site.baseurl }}/js/ie10-viewport-bug-workaround.js"></script>
  <script async src="{{ site.url }}{{ site.baseurl }}/js/cookies.js"></script>
<script type="text/javascript" async src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script type="text/javascript">
function googleTranslateElementInit() {
	new google.translate.TranslateElement({pageLanguage: 'en', gaTrack: true, gaId: 'UA-12179122-1'}, 'google_translate_element');
		$(".goog-te-combo").addClass("form-control");	    
    $(".goog-te-combo").css("font-family","'Open Sans',sans-serif;");
}
</script>
  <script>
    $(function() {
      
      if('serviceWorker' in navigator) {
        navigator.serviceWorker.register('{{ site.url }}{{ site.baseurl }}/serviceworker.js', { scope: '/' });
      }
      $('img').addClass('img-responsive center-block').css({ 'cursor': "pointer" });
      $('img').click(function(){ var $img = $(this); $('#imagepreview').attr('src',  $img.attr('src')); $('#myModalLabel').text($img.attr('alt')); $('#imagemodal').modal('show'); });
      if($("#back-to-top").length){var scrollTrigger=100,backToTop=function(){var o=$(window).scrollTop();o>scrollTrigger?$("#back-to-top").addClass("show"):$("#back-to-top").removeClass("show")};backToTop(),$(window).on("scroll",function(){backToTop()}),$("#back-to-top").on("click",function(o){o.preventDefault(),$("html,body").animate({scrollTop:0},700)})};
    });
  </script>
  {% if site.disqus_shortname and page.categories %}
  <script type="text/javascript">
    var disqus_shortname = '{{ site.disqus_shortname }}';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  {% endif %}
   <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
    _gaq.push(['_trackPageview']);
    
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    /*
    jQuery(window).load(function() {
      jQuery('#overlay').fadeOut();
    });
    */
  </script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <a href="#" id="back-to-top" title="Back to top">&uarr;</a>
</body>
</html>
